@{
    ViewBag.Title = "Home Page";
}


<br />
<h4 style="text-align:center;color:#202020">
   <i> <b>"Let everyone know your journies. Explore new places. Share your experience..."</b></i>
</h4><br />

<table>
    <tr>
        <td>
            <img style="border:thick"src="https://scontent.fskg1-2.fna.fbcdn.net/v/t1.15752-9/82419957_171985007445490_1978709854381932544_n.png?_nc_cat=101&_nc_ohc=GhriW8xpWXwAX-cQGxb&_nc_ht=scontent.fskg1-2.fna&oh=0bf5dd20adbed139a7e26910e2ea0bbf&oe=5ED1317A" width="100%" height="500px" />
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
           
        </td>
    </tr>
</table>




<span  style="color:black"id="contact">For more information contact us on our email: <u><b><a href="mailto: beautifuldestinations@dest.com">beautifuldestinations@dest.com</a></b></u></span>